extends layout 
block dropdown 
    a(class="dropdown-item" href="signout") Signout
block content
    div(class='container col-12 col-sm-4 shadow-lg p-3 mb-5 bg-white rounded text-center' style='margin-top:50px')
        form(action="/stats",method="POST" ) 
            input(name="handle" type="text" placeholder="enter user handle" required style="margin-top:25px;margin-bottom:25px;margin-right:10px")
            button(type="submit" class = "btn btn-success") search 
    br
    if(problemsSolved)
        table(border="1"  class="container table table-hover")
            tr 
                th stats table 
                th #{handle}
            tr 
                td Prolems Tried
                td #{problemsTried}
            tr 
                td  Problems Solved 
                td #{problemsSolved}
            tr 
                td  Contests
                td #{contestsAttempted}
            tr 
                td  current rating
                td #{currentRating}
            tr 
                td  max rating
                td #{maxRating}
            tr 
                td min rating
                td #{minRating}
            tr 
                td max up 
                td #{maxUp}
            tr 
                td max down 
                td #{maxDown}
            tr 
                td best rank
                td #{bestRank}
            tr 
                td worst rank
                td #{worstRank}
            tr 
                td average attempts
                td #{averageAttempts}
        br
        div( class='container d-flex justify-content-center shadow p-3 mb-5 bg-white rounded' id="piechart-3d-language" style="width: 900px; height: 500px; ")
        div( class='container d-flex justify-content-center shadow p-3 mb-5 bg-white rounded' id="piechart-3d-verdict" style="width: 900px; height: 500px; ")
        div( class='container d-flex justify-content-center shadow p-3 mb-5 bg-white rounded'  id="piechart-3d-tag" style="width: 900px; height: 500px; ")
        div( class='container d-flex justify-content-center shadow p-3 mb-5 bg-white rounded'  id="columnchart_value1" style="width: 900px; height: 500px; ")
        div( class='container d-flex justify-content-center shadow p-3 mb-5 bg-white rounded'  id="columnchart_value2" style="width: 900px; height: 500px; ")
    else if (problemsSolved==0)
        div(class='container d-flex justify-content-center shadow p-3 mb-5 bg-white rounded')
            h1 user haven't solved any problems
        
    
    script.
        google.charts.load('current',{'packages':['corechart']})
        google.charts.setOnLoadCallback(drawChart)
        function drawChart() {
            var l = !{JSON.stringify(languageList)}
            var d = Array(#{languageCount})
            var chartData  =[["languages used","problems solved"]]

            for (let i=0;i<d.length;i++)
            {
                chartData.push([l[i],d[i]])
            }
            var data = google.visualization.arrayToDataTable(chartData
            );
            var options = {
            title: 'Languages Used',
            is3D : true,
            pieSliceText: 'label',
            backgroundColor: {
                fill:'ghostwhite'     
        },
            }
            var chart = new google.visualization.PieChart(document.getElementById('piechart-3d-language'))
            chart.draw(data , options)
        }

    script.
        google.charts.load('current',{'packages':['corechart']})
        google.charts.setOnLoadCallback(drawChart)
        function drawChart() {
            var v = !{JSON.stringify(verdictList)}
            var d = Array(#{verdictCount})
            var chartData  =[["verdict","result"]]
            for (let i=0;i<d.length;i++)
            {
                chartData.push([v[i],d[i]])
            }
            var data = google.visualization.arrayToDataTable(chartData
            );
            var options = {
            title: 'Verdict',
            is3D : true,
            pieSliceText: 'label',
            backgroundColor: {
                fill:'ghostwhite'     
        },
            }
            var chart = new google.visualization.PieChart(document.getElementById('piechart-3d-verdict'))
            chart.draw(data , options)
        }
    script.
        google.charts.load('current',{'packages':['corechart']})
        google.charts.setOnLoadCallback(drawChart)
        function drawChart() {
            var t = !{JSON.stringify(tagList)}
            var d = Array(#{tagCount})
            var chartData  =[["Tags","problems attempted in each tag"]]
            for (let i=0;i<d.length;i++)
            {
                chartData.push([t[i],d[i]])
            }
            var data = google.visualization.arrayToDataTable(chartData
            );
            var options = {
            title: 'Tags',
            pieHole : 0.4,
            pieSliceText: 'label',
            backgroundColor: {
                fill:'ghostwhite'     
        },
            }
            var chart = new google.visualization.PieChart(document.getElementById('piechart-3d-tag'))
            chart.draw(data , options)
        }
    
    
    script.
        google.charts.load("current", {packages:['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        
        
        function drawChart() {
            var index = !{JSON.stringify(indexList)}
            var d = !{JSON.stringify(indexCount)}
            var chartData  =[["Index","problems solved"]]
            for (let i=0;i<d.length;i++)
            {
                chartData.push([index[i],d[i]])
            }
            var data = google.visualization.arrayToDataTable(chartData);


            var options = {
                legend: {position: 'top'},
                title: "Index",
                
            };
            var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_value1"));
            chart.draw(data, options);
        }


    script.
        google.charts.load("current", {packages:['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var difficulty  = !{JSON.stringify(difficultyList)}
            var d = !{JSON.stringify(difficultyCount)}
            var chartData  =[["Difficulty","problems solved"]]
            for (let i=0;i<d.length;i++)
            {
                chartData.push([difficulty[i],d[i]])
            }
            var data = google.visualization.arrayToDataTable(chartData);
            var options = {
                legend: {position: 'top'},
                title: "Difficulty",
            }
            var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_value2"));
            chart.draw(data, options);
        }
